.actor-page {
  background: rgb(247, 247, 247);
  height: 100;
}

/* header */

.actor-details-main {
  min-width: 80%;
  margin: 2rem auto;
}

.details-holder {
  display: flex;
  align-items: center;
  align-content: space-between;
}

.actor-details-holder {
  width: 15%;
  margin: 1.5rem;
}

.actor-details-holder img {
  border-radius: 5px;
}

.name-holder {
  margin-bottom: 0.5rem;
  color: rgb(20, 20, 20);
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
}

.actor-latest-movie-holder {
  width: 85%;
}

/* bio section */

.bio-section {
  margin: 2rem 0.5rem;
  font-size: 1.2rem;
}

.actor-birth-details {
  margin-top: 1rem;
  font-weight: bold;
}

.date-and-place {
  font-weight: 400;
}

/* Credits list */

.credits-list {
  width: 100;
  margin: 1rem 0;
  border: 1px solid rgba(63, 63, 63, 0.24);
  border-radius: 5px;
}

.credit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
}

.credit-item:hover {
  background: #ccc;
}

.credit-image {
  width: 80px;
}

@media (min-width: 600px) {
  .actor-details-main {
    max-width: 550px;
    margin: 3rem auto;
  }

  .actor-header {
    padding: 1rem;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 5px;
  }

  .name-holder {
    font-size: 1rem;
  }
}

@media (min-width: 680px) {
  .actor-header {
    padding: 1rem 0.5rem;
    border: 1px solid rgba(63, 63, 63, 0.24);
    border-radius: 5px;
  }

  .actor-details-main {
    margin: 1rem auto;
  }

  .name-holder {
    font-size: 1.3rem;
  }
}
