.results-list {
  height: 80%;
}

.result {
  border-bottom: 1px solid rgb(202, 202, 202);
  background: black;
  height: 140px;
}

.result-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.result:hover {
  background: rgb(51, 51, 51);
}

.result:hover #title {
  text-decoration: underline;
}

.img-holder {
  padding: 1rem;
  max-height: 100px;
  max-width: 100px;
}

.result-details {
  margin-top: 1rem;
  color: rgb(243, 243, 243);
}

.no-results-warning-holder {
  padding: 1rem 0;
  color: red;
}

.media-type {
  text-transform: capitalize;
  font-weight: bold;
}

@media (min-width: 600px) {
  .result {
    height: auto;
  }

  .result {
    border-bottom: 1px solid rgb(202, 202, 202);
    background: black;
    height: 150px;
  }
}
