.nav-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-width: 400px;
  padding: 0.5rem 0.5rem;
  background: rgb(12, 12, 12);
}

.nav-bar div:nth-of-type(1) {
  flex-grow: 1;
}

.nav-bar div:nth-of-type(2) {
  flex-grow: 1;
}

.nav-bar div:nth-of-type(3) {
  flex-grow: 10;
}

.nav-bar div:nth-of-type(4) {
  flex-grow: 1;
}

.nav-bar div:nth-of-type(5) {
  flex-grow: 1;
}

/* icons  */

.icon {
  font-size: 1.5rem;
  color: rgb(243, 243, 243);
}

.icon-holder {
  padding: 1rem;
  border-radius: 50px;
  cursor: pointer;
}

.icon-holder:hover {
  background: rgb(56, 56, 56);
}

/* sign in page */

.sign-in-holder {
  padding: 1rem 0.5rem;
  min-width: 80px;
  max-width: 80px;
  border-radius: 10px;
  cursor: pointer;
}

.sign-in-holder a {
  color: rgb(248, 248, 248);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}

.sign-in-holder:hover {
  background: rgb(56, 56, 56);
}

/* logo */

.logo-holder {
  max-width: 50px;
}

/* Form */

.form-search-icon {
  display: none;
}

.search-input-holder {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background: rgb(26, 26, 26);
  height: 65px;
  top: -100px;
  transition: 1s;
  left: 0;
  width: 100vw;
}

.show {
  top: 0;
}

.search-input-holder input {
  background: rgb(26, 26, 26);
  color: rgb(243, 243, 243);
  font-size: 1.2rem;
  padding-left: 0.5rem;
  width: 90vw;
  border: none;
  outline-width: 0;
}

.close-input-icon-holder {
  padding: 1rem;
  height: 60px;
  width: 60px;
  margin: 0.2rem;
  border-radius: 50px;
}

.close-input-icon-holder:hover {
  background: rgb(71, 71, 71);
}

.close-input-btn {
  margin-top: 0.5rem;
  color: rgb(243, 243, 243);
}

/* form results */

.instant-results-holder {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(26, 26, 26);
  display: none;
  z-index: 1001;
}

.more-results-redirect {
  margin: 1rem 0;
}

.more-results-link {
  color: rgb(243, 243, 243);
  font-weight: bold;
}

.more-results-link:hover {
  text-decoration: underline;
}

.show-results {
  display: block;
}

@media (min-width: 600px) {
  .nav-bar {
    padding: 0.5rem 3rem;
  }

  .nav-bar div:nth-of-type(1) {
    flex-grow: 0;
  }

  .hide-big-screen {
    display: none;
  }

  .close-input-icon-holder {
    display: none;
  }

  .hide-big-screen {
    display: none;
  }

  /* form */

  .form {
    border: none;
  }

  .form-search-icon {
    display: block;
    padding: 0.5rem;
  }

  .input-search-icon {
    color: rgb(77, 77, 77);
    font-size: 1.5rem;
  }

  .form-holder {
    display: flex;
    border-radius: 40px;
  }

  .form {
    position: relative;
    margin: 0 auto;
    border-radius: 15px;
    width: 400px;
  }

  .search-input-holder {
    position: initial;
    display: flex;
    justify-content: space-between;
    background: rgb(243, 243, 243);
    height: 35px;
    border-radius: 10px;
    width: initial;
  }

  .search-input-holder input {
    background: rgb(243, 243, 243);
    color: rgb(26, 26, 26);
    font-size: 1.2rem;
    margin-left: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    width: 80vw;
    border-right: 1px solid rgb(77, 77, 77);
    outline-width: 0;
  }

  .instant-results-holder {
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}

@media (min-width: 1080px) {
  .nav-bar {
    padding: 0.5rem 10rem;
  }

  .form {
    width: 600px;
    border: 2px solid red;
  }
}

@media (min-width: 1480px) {
  .nav-bar {
    padding: 0.5rem 20rem;
  }

  .form {
    width: 600px;
  }
}
