.menu-section {
  position: fixed;
  width: 300px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 101;
  background: black;
  color: #fff;
  padding: 40px 20px;
  transition: transform 0.3s ease-out;
  border-right: 1px solid rgb(124, 103, 7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  overflow: none;
}

.show-menu {
  transform: translateX(0);
}

/* close menu btn  */

.close-btn-section {
  display: flex;
  justify-content: flex-end;
}

.times-btn-holder {
  padding: 1rem;
  clip-path: circle(41% at 50% 50%);
  text-align: center;
  font-size: 1.5rem;
}

.times-btn-holder:hover {
  background: rgb(124, 103, 7);
}

/* List of Icons */

.list-of-links {
  margin: 3rem 1rem;
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
}

.menu-link {
  color: rgba(255, 255, 255, 0.76);
}

.menu-link:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.932);
}

@media (min-width: 780px) {
  .menu-section {
    width: 500px;
  }
}
