@import "../../scss/_mixins", "../../scss/_variables";

.header-container {
  min-width: 400px;
  padding: 1rem 0;
  background: rgb(20, 20, 20);
  @include screen-size("above-990px") {
    margin: 0 auto;
    max-width: 1280px;
  }

  &__loader-holder-header {
    height: 100vh;
  }

  &__carousels-container {
    max-width: 1280px;
    margin: 0rem auto;
    @include screen-size("above-990px") {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .first-carousel {
      position: relative;
      width: 90%;
      margin: 0 auto;

      &__title {
        position: absolute;
        top: 80%;
        width: 100%;
        padding: 1rem 0;
        background: rgba(22, 22, 22, 0.651);
        z-index: 100;

        h2 {
          color: rgb(228, 186, 0);
          font-weight: bold;
          font-size: 1.5rem;
          text-transform: capitalize;
        }
      }
    }

    .second-carousel-holder {
      position: relative;
      margin: 1.5rem auto;
      width: 90%;
      min-width: 400px;

      @include screen-size("above-990px") {
        width: 350px;
        margin: 0 auto;
        margin: 0rem;
      }

      &__second-carousel-title {
        text-align: left;
        font-size: 1.3rem;
        color: rgb(228, 186, 0);
        margin: 0.5rem 2rem;
      }
    }
  }
}
