.home-page-carousel-holder {
  width: 90%;
  margin: 3rem auto;
}

.item-holder {
  background: rgb(29, 29, 29);
}

.item-image-container {
  position: relative;
}

.item-img-main-carousel {
  opacity: 0.7;
}

.item-img-main-carousel:hover {
  opacity: 1;
}

.watch-later-icon {
  position: absolute;
  top: 0;
  left: 5%;
  padding: 1rem 0.5rem;
  background: rgba(56, 56, 56, 0.541);
  clip-path: polygon(100% 0, 100% 99%, 49% 78%, 0% 100%, 0 48%, 0% 0%);
  border: 1px solid rgba(180, 180, 180, 0.8);
  transition: ease 0.5s;
  cursor: pointer;
}

.watch-later-icon:hover {
  background: rgba(138, 138, 138, 0.541);
}

.watch-later-plus {
  color: rgb(243, 243, 243);
  font-size: 1rem;
}

.item-description-slide {
  height: 180px;
  color: #ccc;
  text-align: left;
  padding: 1rem;
}

.item-title-main-carousel {
  color: #ccc;
}

.item-title-main-carousel:hover {
  text-decoration: underline;
}

.genres-holder {
  margin: 0.5rem 0;
}

/* arrows carousel */

.next-btn-main-carousel {
  position: absolute;
  top: 40%;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: rgb(228, 227, 227);
  background: rgba(22, 22, 22, 0.521);
  border: 1px solid rgb(228, 227, 227);
  border-radius: 5px;
  z-index: 100;
}

.next-btn-main-carousel:hover {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.089);
  color: rgb(177, 30, 30);
}

.prev-btn-main-carousel {
  position: absolute;
  top: 40%;
  left: 0%;
  padding: 1rem;
  color: rgb(216, 216, 216);
  background: rgba(22, 22, 22, 0.521);
  border: 1px solid rgb(228, 227, 227);
  border-radius: 5px;
  font-size: 1.5rem;
  z-index: 100;
}

.prev-btn-main-carousel:hover {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.089);
  color: rgb(177, 30, 30);
}

/* rating */

.item-rating {
  display: flex;
  margin: 0.5rem 0;
  width: 90px;
}

.item-rating p {
  font-size: 1rem;
}

.star {
  color: rgb(228, 186, 0);
  font-size: 1.2rem;
  margin: 0 0.4rem;
}

@media (min-width: 600px) {
  .watch-later-icon {
    padding: 1.4rem 1rem;
  }

  .watch-later-plus {
    font-size: 1.5rem;
  }
}
