@import "../../scss/_variables";

.home-page-carousel-holder {
  width: 90%;
  margin: 3rem auto;

  &__main-carousel {
    background: rgba($secondary-brand-color, 0.521);

    .item-holder {
      background: $tertiary-brand-color;

      &__item-image-container {
        position: relative;

        .item-img-main-carousel {
          opacity: 0.7;

          &:hover {
            opacity: 1;
          }
        }
      }

      &__item-description-slide {
        height: 220px;
        color: $tertiary-font-color;
        text-align: left;
        padding: 1rem;

        /* rating */

        .item-rating {
          display: flex;
          margin: 0.5rem 0;
          width: 90px;

          &__star {
            color: $secondary-font-color;
            font-size: 1.2rem;
            margin: 0 0.4rem;
          }

          .item-rating p {
            font-size: 1rem;
          }
        }

        .item-title-main-carousel {
          color: $tertiary-font-color;

          &:hover {
            text-decoration: underline;
          }
        }

        .genres-holder {
          margin: 0.5rem 0;
        }
      }
    }
  }
}

/* arrows carousel */

.next-btn-main-carousel {
  position: absolute;
  top: 40%;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: $primary-font-color;
  background: rgba($tertiary-brand-color, 0.521);
  border: 1px solid $primary-font-color;
  border-radius: 5px;
  z-index: 100;

  &:hover {
    border: 1px solid $primary-font-color;
    background: rgba(255, 255, 255, 0.089);
    color: rgb(177, 30, 30);
  }
}

.prev-btn-main-carousel {
  position: absolute;
  top: 40%;
  left: 0%;
  padding: 1rem;
  color: rgb(216, 216, 216);
  background: rgba(22, 22, 22, 0.521);
  border: 1px solid $primary-font-color;
  border-radius: 5px;
  font-size: 1.5rem;
  z-index: 100;

  &:hover {
    border: 1px solid $primary-font-color;
    background: rgba(255, 255, 255, 0.089);
    color: $primary-brand-color;
  }
}
