.cast-title-holder {
  font-size: 1.5rem;
  margin-left: 4rem;
  color: rgb(228, 186, 0);
}

.movie-main-container {
  background: rgb(15, 15, 15);
  margin: 0 auto;
  padding-bottom: 3rem;
  min-width: 400px;
}

.item-hero-section {
  position: relative;
  padding-top: 1rem;
  width: 100%;
  max-width: 1280px;
}

.single-item-image {
  opacity: 0.9;
}

.single-item-details {
  position: absolute;
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 1.5rem;
  bottom: 0;
  z-index: 3;
}

.single-item-details-image {
  width: 80px;
  border-radius: 5px;
  z-index: 2;
}

.single-item-description {
  display: flex;
}

.single-item-title {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.single-item-title h2 {
  font-size: 1.5rem;
  color: rgb(184, 150, 0);
}

.single-item-rating {
  display: grid;
  font-size: 1.2rem;
  grid-template-columns: 25px 1fr;
  width: 60px;
  justify-items: center;
  align-items: center;
}

.single-item-rating p {
  font-weight: 400;
  color: rgb(243, 243, 243);
}

.single-star-rating {
  color: rgb(228, 186, 0);
}

.gradient {
  position: absolute;
  bottom: 0;
  background: rgb(17, 17, 17);
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8511202830188679) 38%,
    rgba(255, 255, 255, 0) 85%
  );
  height: 200px;
  width: 100%;
  z-index: 1;
}

.single-item-description {
  font-size: 1rem;
  color: rgb(206, 206, 206);
  font-weight: bold;
}

/* PLOT SUMMARY */

.single-item-overview {
  width: 75%;
  max-width: 1280px;
  margin: 3rem auto;
}

.plot-title {
  margin-bottom: 2rem;
}

.plot-title h2 {
  color: rgb(228, 186, 0);
  font-size: 2rem;
}

.plot-summary p {
  color: rgb(216, 216, 216);
  font-weight: 300;
  font-size: 1.5rem;
}

/* CAST COURSEL */

.cast-carousel-holder {
  max-width: 1280px;
  padding: 1rem 0;
  margin: 0 auto;
}

@media (min-width: 780px) {
  .item-hero-section {
    position: relative;
    width: 65%;
    margin: 0 auto;
  }

  .single-item-details-image {
    width: 120px;
  }

  .single-item-details {
    position: absolute;
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 1.5rem;
    bottom: 0;
  }

  .single-item-title h2 {
    font-size: 1.8rem;
  }
}
