.loader-holder-header {
  padding: 10rem;
}

.carousels-container {
  max-width: 1280px;
  margin: 0rem auto;
}

.first-carousel {
  position: relative;
}

.carousel {
  margin: 0 auto;
}

.carousel-title {
  position: absolute;
  top: 80%;
  width: 100%;
  padding: 1rem 0;
  background: rgba(22, 22, 22, 0.651);
  z-index: 100;
}

.carousel-title h2 {
  color: rgb(228, 186, 0);
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.image-holder {
  z-index: 99;
}

.item-img {
  opacity: 0.7;
}

/* arrows carousel */

.next-btn {
  position: absolute;
  top: 40%;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: rgb(228, 227, 227);
  background: rgba(22, 22, 22, 0.521);
  border: 1px solid rgb(228, 227, 227);
  border-radius: 5px;
  z-index: 100;
}

.next-btn:hover {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.089);
  color: rgb(177, 30, 30);
}

.prev-btn {
  position: absolute;
  top: 40%;
  left: 0;
  padding: 1rem;
  color: rgb(216, 216, 216);
  background: rgba(22, 22, 22, 0.521);
  border: 1px solid rgb(228, 227, 227);
  border-radius: 5px;
  font-size: 1.5rem;
  z-index: 100;
}

.prev-btn:hover {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.089);
  color: rgb(177, 30, 30);
}

/* item Description classe */

.image-and-description-holder {
  position: relative;
  opacity: 0.9;
}

.image-and-description-holder:hover {
  opacity: 1;
}

.item-description {
  position: absolute;
  display: flex;
  top: 2%;
  left: 5%;
  z-index: 100;
}

.poster {
  width: 100px;
  z-index: 100;
}

.poster img {
  border-radius: 10px;
}

.description {
  text-align: left;
  font-size: 1.2rem;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

/* Second Carousel */

.second-carousel-holder {
  position: relative;
  margin: 1.5rem auto;
  width: 90%;
  min-width: 400px;
}

.slick-slide {
  padding: 0 10px;
  box-sizing: border-box;
}

.select:hover {
  background: rgba(255, 255, 255, 0.041);
}

.carousel-two-img {
  opacity: 0.7;
  border-radius: 10px;
}

.carousel-two-slide:hover #image-second-carousel {
  opacity: 1;
}

.carousel-two-description-holder {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.1em;
}

/* Second Carousel btn*/

.second-carousel-up-btn {
  display: none;
}

.second-carousel-next-btn {
  position: absolute;
  top: 30%;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: rgb(228, 227, 227);
  background: rgba(22, 22, 22, 0.521);
  border: 1px solid rgb(228, 227, 227);
  border-radius: 5px;
  z-index: 100;
}

.second-carousel-next-btn:hover {
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.089);
  color: rgb(177, 30, 30);
}

@media (min-width: 990px) {
  .carousels-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .second-carousel-holder {
    width: 350px;
    margin: 0 auto;
    margin: 0rem;
  }

  .carousel {
    width: 600px;
    margin: 0 auto;
  }

  .first-carousel {
    width: 60%;
  }
  /* buttons carousel */

  .prev-btn {
    position: absolute;
    left: -3%;
  }

  /* second carousel */
  .carousel-two-slide {
    display: flex;
    align-items: center;
  }

  .carousel-two-image-holder {
    width: 35%;
  }

  .carousel-two-description-holder {
    width: 65%;
  }

  .slick-slide {
    padding: 5px 10px;
    box-sizing: border-box;
  }

  /* carousel buttons */

  .second-carousel-next-btn {
    display: none;
  }

  .second-carousel-up-btn {
    display: block;
    position: absolute;
    top: 0;
    left: 40%;
    padding: 0.5rem 1rem;
    color: rgb(216, 216, 216);
    background: rgba(22, 22, 22, 0.521);
    border: 1px solid rgb(228, 227, 227);
    border-radius: 5px;
    font-size: 1.5rem;
    z-index: 100;
  }

  .second-carousel-up-btn:hover {
    border: 1px solid white;
    background: rgba(255, 255, 255, 0.089);
    color: rgb(177, 30, 30);
  }
}
