.form-section {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
}

.form-section h1 {
  color: #ccc;
  letter-spacing: 0.4rem;
}

.title-highlighter {
  border-color: rgb(228, 186, 0);
  margin: 1rem auto 3rem;
  width: 150px;
}

.discover-form {
  padding: 2.5rem 1.5rem;
  border-radius: 10px;
  background: rgba(59, 59, 59, 0.692);
}

.filters {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  flex-wrap: wrap;
  padding-bottom: 2.5rem;
}

.filter-discover {
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  width: 150px;
}

.discovery-search-btn {
  background: rgb(228, 186, 0);
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  margin: 0.5rem;
  border: none;
  cursor: pointer;
}

.discovery-search-btn:hover {
  background: rgb(192, 157, 2);
}

.discovery-pagination {
  margin: 2rem auto;
  text-align: center;
  width: 300px;
}

.discovery-pagination button {
  background: none;
  color: #ccc;
  padding: 0.5rem 1.5rem;
  text-transform: capitalize;
  font-size: 1rem;
  margin: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 50px;
  cursor: pointer;
}

.discovery-pagination button:hover {
  background: rgba(204, 204, 204, 0.199);
}

.discovery-pagination button:disabled {
  background: rgba(204, 204, 204, 0.199);
  cursor: initial;
}
