@import "../../scss/_variables";

.latest-item-main-area {
  background: rgb(20, 20, 20);
  margin: 3rem auto;
  padding: 1.5rem 1rem;
  max-width: 1280px;

  &__item-title-holder {
    text-align: left;
    margin: 1rem 0;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: rgb(228, 186, 0);

    p {
      font-size: 1rem;
      font-weight: bold;
      color: rgb(214, 214, 214);
    }
  }

  &__item-holder {
    // This styles the div when the server does not return an image for the item

    .not-image-latest-item-holder {
      margin: 0 4rem;
      border: 1px solid rgba(250, 250, 250, 0.61);

      &:hover {
        border: 2px solid rgb(250, 250, 250);
      }

      &__no-image-found {
        height: 200px;
        margin: 0 auto;
        padding: 5rem;
        text-align: center;
        max-width: 600px;
        color: rgba(250, 250, 250, 0.61);

        .cry-face {
          margin: 2rem 0;
          font-size: 2rem;
        }
      }

      &__latest-item-description-with-no-image {
        text-align: center;
        padding: 2rem;

        h2 {
          color: rgb(228, 186, 0);
          font-size: 1.5rem;
        }

        p {
          color: rgb(214, 214, 214);
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }

    .lastest-item-info {
      position: relative;
      max-width: 600px;
      margin: 0 auto;

      img {
        opacity: 0.7;

        &:hover {
          opacity: 1;
        }
      }

      &__description {
        position: absolute;
        text-align: right;
        padding: 0.5rem 1.5rem;
        width: 100%;
        height: 90px;
        top: 74%;
        background: rgb(17, 17, 17);
        background: linear-gradient(
          0deg,
          rgba(17, 17, 17, 1) 46%,
          rgba(255, 255, 255, 0.027220911949685567) 100%
        );

        h2 {
          color: rgb(228, 186, 0);
          font-size: 1.5rem;
        }

        p {
          color: rgb(214, 214, 214);
          font-size: 1rem;
          font-weight: bold;
        }
      }
    }
  }
}
